# Ejercicios

En estos usaremos el conjunto de datos que guardamos ayer en los ejercicios de la clase invertida. Los ejercicios que os planteamos hoy son:

In [179]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [181]:
df = pd.read_csv('rating_performance_insight.csv', index_col=0)
df.head(1)

,title,title_orig,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_y,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,2020 Summer Vintage Flamingo Print Pajamas Set Casual Loose T Shirt Top And Elastic Shorts Women Sleepwear Night Wear Loungewear Sets,2020 Summer Vintage Flamingo Print Pajamas Set Casual Loose T Shirt Top And Elastic Shorts Women Sleepwear Night Wear Loungewear Sets,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajamasset,womencasualshort,Women's Fashion,flamingo,loungewearset,Casual,Shirt,casualsleepwear,Shorts,flamingotshirt,Elastic,Vintage,Tops,tshirtandshortsset,Women,Sleepwear,Print,womenpajamasset,womennightwear,Pajamas,womensleepwearset",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,np.nan,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.0,14.0,-14.0,-14.0,54.0

1. Total de unidades vendidas por país de origen del vendedor. Debéis agrupar los datos según el país de origen del vendedor y calcular el total de unidades vendidas para cada país. Esto nos dará una idea de qué países tienen una mayor participación en las ventas totales y cuáles tienen menos. Devuelve los resultados en un DataFrame ordenados de mayor a menor en función de la cantidad de unidades vendidas.

In [182]:
# Agruparemos por 'origin_country'

df.groupby(by='origin_country')

# Calculamos el total de unidades vendidas para cada país de origen y lo convertimos en DF

ventas_por_pais_origen = df.groupby(by='origin_country')['units_sold'].sum().reset_index()

ventas_por_pais_origen.sort_values(by='units_sold', ascending=False)

# Para devolver los resultados ordenados utilizo el método df.sort_values(by='nombre_columna', ascending=True)

  origin_country  units_sold
1             CN     6651245
4             US       43560
3             SG       20100
2             GB        1000
5             VE         350
0             AT         100

2. Estadísticas de precio por país de envío. Vamos a explorar el precio promedio y el precio máximo de los productos según el país al que se envían. Al hacer esto, podremos entender cómo varían los precios según el destino del envío y si hay alguna tendencia interesante que valga la pena analizar.  Devuelve los resultados en un DataFrame.

In [183]:
agrupados_por_destino = df.groupby(by='countries_shipped_to')['price'].agg(['mean','max'])
agrupados_por_destino = agrupados_por_destino.sort_values('mean', ascending=False)

agrupados_por_destino

# Los pedidos que se dirigen al país de código 82 tienen una media superior al resto.

                           mean    max
countries_shipped_to
82                    18.000000  18.00
80                    13.200000  22.00
66                    13.000000  13.00
12                    12.500000  13.00
10                    12.111429  18.00
...                         ...    ...
91                     3.900000   3.90
67                     3.870000   3.87
118                    3.830000   5.79
111                    3.670000   3.67
90                     3.506667   3.76

[94 rows x 2 columns]

3. Conteo de productos con y sin distintivo de producto local. Vamos a clasificar los productos según si tienen o no un distintivo de producto local. Luego, calcularemos el conteo de productos en cada categoría para comprender cuántos productos tienen este distintivo y cuántos no. Esto puede proporcionarnos información sobre cómo se promocionan los productos con esta característica. Devuelve los resultados en un DataFrame.

In [184]:
df_locales = df.groupby('badge_local_product')['product_id'].count().reset_index()
df_locales

# Solo 29 de 1544 se promocionan como producto local.

   badge_local_product  product_id
0                    0        1544
1                    1          29

4. Promedio de unidades vendidas por tipo de envío. Nuestro objetivo es analizar cómo se correlaciona el tipo de envío (columna `shipping_option_name` ) con las unidades vendidas. Vamos a calcular el promedio de unidades vendidas para cada tipo de opción de envío. Esto podría ayudarnos a determinar si ciertos métodos de envío están relacionados con un mayor o menor rendimiento en las ventas. Devuelve los resultados en un DataFrame.  ¿Qué conclusiones puedes sacar de este resultado?

In [185]:
6610705 / 6825255

0.9685652770482568

In [186]:
# Calculamos el total de ventas y el total de ventas por tipo de envío

total_ventas = df['units_sold'].sum()       # El total es 6 825 255 ventas 
total_ventas

# Agrupamos por tipo de envío

df_total_ventas_por_envio = df.groupby('shipping_option_name')['units_sold'].sum().reset_index()

# Ordenamos de más a menos ventas. 

df_total_ventas_por_envio = df_total_ventas_por_envio.sort_values(by='units_sold', ascending=False)

df_total_ventas_por_envio

ventas_LS = df_total_ventas_por_envio.loc[5, 'units_sold'] # Resultado: 6610705

# Calculamos qué porcentaje del total de ventas suponen las ventas hechas a través de Livraison standard

porcentaje_ventas_LS = np.round(100*(ventas_LS/total_ventas), 2)

print(f"El {porcentaje_ventas_LS} % de las ventas se hacen con Livraison standard")

El 96.86 % de las ventas se hacen con Livraison standard

In [187]:
# Calculamos el promedio de ventas totales y el promedio de ventas por tipo de envío

promedio_ventas = df['units_sold'].mean() 
promedio_ventas_r= round(promedio_ventas, 2)   # Resultado: 4339.01

# Agrupamos por tipo de envío

df_promedio_ventas_por_envio = df.groupby('shipping_option_name')['units_sold'].mean().reset_index()

# Ordenamos de más a menos ventas. 

df_total_ventas_por_envio = df_total_ventas_por_envio.sort_values(by='units_sold', ascending=False)

df_total_ventas_por_envio

       shipping_option_name  units_sold
5        Livraison standard     6610705
7         Standard Shipping       88550
8       Standardowa wysyłka       30100
1              Envio Padrão       22400
2              Envío normal       16100
10         Standart Gönderi       11000
11     Стандартная доставка       10100
14  ការដឹកជញ្ជូនតាមស្តង់ដារ       10000
13      การส่งสินค้ามาตรฐาน       10000
0        Ekspresowa wysyłka       10000
3        Expediere Standard        2400
12            الشحن القياسي        1300
4         Livraison Express        1200
6       Spedizione standard        1100
9           Standardversand         300

5. Reemplazo de valores. A lo largo del DataFrame tenemos algunas columnas cuyos valores son cero y uno, lo que podría llevar a confusión en su interpretación. Estas columnas son: 

    - `uses_ad_boosts`: La cual indica si la plataforma de comercio electrónico ha utilizado o no la función de impulso de anuncios.  Si el valor de uses_ad_boosts es 1, indica que el vendedor ha invertido en publicidad adicional para resaltar el producto. Si el valor es 0, no ha sido promocionado a través de anuncios adicionales.

    - `badge_local_product`: Indica que el producto se produce, fabrica o se envía desde la misma región o país en el que se realiza la transacción de compra. Si el valor es 1, significa que el producto tiene un distintivo que lo califica como un producto local. Si el valor es 0, indica que el producto no tiene este distintivo.

    - `badge_product_quality`: Indica que el producto cumple con ciertos estándares de calidad, características o evaluaciones positivas por parte de los consumidores. Si el valor es 1, significa que el producto tiene un distintivo que lo califica como un producto de alta calidad. Si el valor es 0, indica que el producto no tiene este distintivo de calidad.

    - `badge_fast_shipping`: Indica que el producto se enviará y entregará en un plazo más corto en comparación con otras opciones de envío estándar. Si el valor es 1, significa que el producto tiene un distintivo que indica un envío rápido. Si el valor es 0, indica que el producto no tiene este distintivo de envío rápido.

    - `shipping_is_express`: Se refiere a si una opción de envío para un producto en una plataforma de comercio electrónico se considera como "envío exprés" o "envío rápido". Si el valor es 1, significa que la opción de envío asociada se considera como una entrega rápida o exprés. Si el valor es 0, indica que la opción de envío no se considera como envío exprés.

    Todas estas columnas cumplen un patrón, y es que los 0 corresponden con 'No' y los 1 con 'Si'. Por esto, en este ejercicio deberéis reemplazar los 0: No y los 1: Si.

In [188]:
df['uses_ad_boosts']

0       0
1       1
2       0
3       1
4       1
       ..
1568    1
1569    1
1570    0
1571    0
1572    1
Name: uses_ad_boosts, Length: 1573, dtype: int64

In [189]:
# Voy a mapear las columnas del dataframe usando un diccionario

dic_si_no = {0:"No", 1:"Sí"}

lista_cols = ['uses_ad_boosts', 'badge_local_product', 'badge_product_quality', 'badge_fast_shipping', 'shipping_is_express']

for col in lista_cols:
    df[col] = df[col].map(dic_si_no)

6. Calificación de la calidad del producto. Sobreescribe la columna `badge_product_quality`  utilizando `apply()` para asignar "Buena" a las filas donde 'badge_product_quality' sea "No" y "Excelente" donde sea "Si".

In [190]:
# Primero nos aseguramos de que la columna df['badge_product_quality'] solo tiene valores Sí y No.

df['badge_product_quality'].unique()

array(['No', 'Sí'], dtype=object)

In [191]:
# Personalizamos una función para catalogar la columna.

def calidad (cadena):
    if cadena == "No":
        return "Buena"
    else: 
        return "Excelente"

df['badge_product_quality'] = df['badge_product_quality'].apply(calidad)

In [192]:
# Comprobamos que se ha sobreescrito correctamente 
 
df['badge_product_quality'].unique()

array(['Buena', 'Excelente'], dtype=object)

7. Cálculo de descuento. Crea una nueva columna `discount_percentage` utilizando `apply()` que calcule el porcentaje de descuento  basado en las columnas 'price' y 'retail_price', redondea los decimales a 2. Después elimina las columnas de `average_discount` y `mean_discount`

In [193]:
def descuento (precio_minorista, precio_venta):
    porcentaje = 100*((precio_minorista - precio_venta)/precio_minorista)
    return np.round(porcentaje, 2)

df['discount_percentage'] = df.apply(lambda fila: descuento(fila['retail_price'], fila['price']), axis=1)

# Vemos la columna nueva y las que estamos a punto de borrar

df[['discount_percentage', 'price', 'retail_price', 'average_discount', 'mean_discount']]

,discount_percentage,price,retail_price,average_discount,mean_discount
0,-14.29,16.00,14,-14.0,-14.00
1,63.64,8.00,22,38.0,37.83
2,81.40,8.00,43,88.0,88.00
3,0.00,8.00,8,7.0,7.00
4,9.33,2.72,3,1.0,0.67
...,...,...,...,...,...
1568,33.33,6.00,9,42.0,42.33
1569,96.43,2.00,56,92.0,92.33
1570,73.68,5.00,19,74.0,74.00
1571,-18.18,13.00,11,-18.0,-18.00
1572,-16.67,7.00,6,-16.0,-16.00

In [194]:
df[['discount_percentage', 'price', 'retail_price', 'average_discount', 'mean_discount']]

# Borramos y sobreescribimos el dataframe

df.drop('average_discount', axis=1, inplace=True)

df.drop('mean_discount', axis=1, inplace=True)

In [197]:
# Comprobamos que el dataframe ahora tiene la columna 'discount_percentage' 
# Y que ya no están 'average_discount' ni 'mean_discount'

df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'units_sold',
       'uses_ad_boosts', 'rating_x', 'rating_count', 'rating_five_count',
       'rating_four_count', 'rating_three_count', 'rating_two_count',
       'rating_one_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'origin_country', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'product_url', 'product_id', 'listed_products',
       'total_units_sold', 'mean_units_sold_per_product', 'rating_y',
       'merchant_ratings_count', 'mean_product_prices', 'mean_retail_prices',
       'mean_product_ratings_count', 'discount_percentage'],
      dtype='object')

8. Evaluación de la valoración del vendedor. Utiliza `apply()` para crear una nueva columna 'seller_reputation' donde los valores sean "Buena" si 'merchant_rating' es mayor o igual a 4, y "Regular" si es menor a 4. Después elimina la columna `merchant_rating`.

In [200]:
# df['merchant_rating'].unique()  # Comprobamos que los valores de merchant_rating están en rangos y no hay nulos

# Creamos nuestra función para categorizar una columna

def valoracion (rating):
    if rating >= 4:
        return "Buena"
    else:
        return "Regular"

# Creamos la nueva columna aplicando la función valoracion 

df['seller_reputation'] = df['merchant_rating'].apply(valoracion)    

df['seller_reputation']

0         Buena
1       Regular
2       Regular
3         Buena
4         Buena
         ...
1568      Buena
1569    Regular
1570    Regular
1571    Regular
1572      Buena
Name: seller_reputation, Length: 1573, dtype: object

In [201]:
# Borramos la columna merchant_rating

df.drop('merchant_rating', axis=1, inplace = True)

# Comprobamos que la columna se ha eliminado correctamente

df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'units_sold',
       'uses_ad_boosts', 'rating_x', 'rating_count', 'rating_five_count',
       'rating_four_count', 'rating_three_count', 'rating_two_count',
       'rating_one_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'origin_country', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_id',
       'product_url', 'product_id', 'listed_products', 'total_units_sold',
       'mean_units_sold_per_product', 'rating_y', 'merchant_ratings_count',
       'mean_product_prices', 'mean_retail_prices',
       'mean_product_ratings_count', 'discount_percentage',
       'seller_reputation'],
      dtype='object')

9. Guarda los resultados en un DataFrame para usarlo en la próxima lección.

In [202]:
df.to_csv('rating_performance_insight_map_replace.csv')